@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-right: 10px;
}

input:focus,
button:focus,
.form-control:focus{
    outline: none;
    box-shadow: none;
}

.table tr,
.table tr td{
    vertical-align: middle;
}

.button-container{
    display: flex;
    align-items: center;
}

.button-container .form-control{
    max-width: 80px;
    text-align: center;
    display: inline-block;
    margin: 0px 5px;
}

#myTable .form-control{
    width: auto;
    display: inline-block;
}

.cart-qty-plus,
.cart-qty-minus,
.addItem{
    width: 38px;
    height: 38px;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

#theAdd{
    width: 33%;
}

.cart-qty-plus:hover,
.cart-qty-minus:hover{
    background-color: #5161ce;
    color: #fff;
}

.image-product{
    width: 50px;
    height: 50px;
    background-color: #5161ce;
    border-radius: 4px;
}

.image-product img{
    width: 100%;
}

